AlborChallenge/.vs/AlborChallenge/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
AlborChallenge/.vs/AlborChallenge/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
AlborChallenge/.vs/AlborChallenge/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
AlborChallenge/.vs/AlborChallenge/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
AlborChallenge/.vs/AlborChallenge/DesignTimeBuild/.dtbcache.v2
AlborChallenge/.vs/AlborChallenge/FileContentIndex/164a0f79-54af-48d4-ac35-3a52b2bfd5db.vsidx
AlborChallenge/.vs/AlborChallenge/FileContentIndex/1a217a8e-218b-45dd-92aa-286a4a8dec2e.vsidx
AlborChallenge/.vs/AlborChallenge/FileContentIndex/1e478af7-adb4-4656-b43a-8fbac22178dd.vsidx
AlborChallenge/.vs/AlborChallenge/FileContentIndex/2020b6cc-94f8-4b58-a3d3-9b19efe0e8e8.vsidx
AlborChallenge/.vs/AlborChallenge/FileContentIndex/630ce690-e8a2-4a3b-88f4-653dbdd8faf9.vsidx
AlborChallenge/.vs/AlborChallenge/FileContentIndex/6ea3c454-cecf-401a-806e-7291a316bb70.vsidx
AlborChallenge/.vs/AlborChallenge/FileContentIndex/9c4c1029-6e93-42bc-b150-fbe1e990ab1b.vsidx
AlborChallenge/.vs/AlborChallenge/FileContentIndex/b6ffd902-5527-4a52-b1a7-ec05e525ccb7.vsidx
AlborChallenge/.vs/AlborChallenge/FileContentIndex/c8b1de1b-6360-4624-9988-e55b84d08995.vsidx
AlborChallenge/.vs/AlborChallenge/FileContentIndex/cb0ffd6e-4d4b-4a6f-9a67-3f0ed4cc5664.vsidx
AlborChallenge/.vs/AlborChallenge/FileContentIndex/e8e7955d-112d-4903-8f66-d701fa0f3541.vsidx
AlborChallenge/.vs/AlborChallenge/v17/.suo
AlborChallenge/.vs/AlborChallenge/v17/DocumentLayout.backup.json
AlborChallenge/.vs/AlborChallenge/v17/DocumentLayout.json
AlborChallenge/.vs/AlborChallenge/v17/TestStore/0/000.testlog
AlborChallenge/.vs/AlborChallenge/v17/TestStore/0/001.testlog
AlborChallenge/.vs/ProjectEvaluation/alborchallenge.metadata.v7.bin
AlborChallenge/.vs/ProjectEvaluation/alborchallenge.projects.v7.bin
AlborChallenge/AlborChallenge/obj/AlborChallenge.csproj.nuget.dgspec.json
AlborChallenge/AlborChallenge/obj/Debug/net6.0/AlborChallenge.AssemblyInfo.cs
AlborChallenge/AlborChallenge/obj/Debug/net6.0/AlborChallenge.AssemblyInfoInputs.cache
AlborChallenge/AlborChallenge/obj/Debug/net6.0/AlborChallenge.assets.cache
AlborChallenge/AlborChallenge/obj/Debug/net6.0/AlborChallenge.GeneratedMSBuildEditorConfig.editorconfig
AlborChallenge/AlborChallenge/obj/project.assets.json
AlborChallenge/AlborChallenge/obj/project.nuget.cache
AlborChallenge/AlborChallengeUnitTest/bin/Debug/net6.0/CoverletSourceRootsMapping
AlborChallenge/AlborChallengeUnitTest/obj/AlborChallengeUnitTest.csproj.nuget.dgspec.json
AlborChallenge/AlborChallengeUnitTest/obj/Debug/net6.0/AlborChallengeUnitTest.AssemblyInfo.cs
AlborChallenge/AlborChallengeUnitTest/obj/Debug/net6.0/AlborChallengeUnitTest.AssemblyInfoInputs.cache
AlborChallenge/AlborChallengeUnitTest/obj/Debug/net6.0/AlborChallengeUnitTest.assets.cache
AlborChallenge/AlborChallengeUnitTest/obj/Debug/net6.0/AlborChallengeUnitTest.csproj.AssemblyReference.cache
AlborChallenge/AlborChallengeUnitTest/obj/Debug/net6.0/AlborChallengeUnitTest.GeneratedMSBuildEditorConfig.editorconfig
AlborChallenge/AlborChallengeUnitTest/obj/project.assets.json
AlborChallenge/AlborChallengeUnitTest/obj/project.nuget.cache
